<footer>
  <div class="level1">
    <div class="row">
      <div class="columns medium-6">
        <div class="row">
          <div class="columns">
            <a href="{{ site.baseurl }}/" class="codemotion">Codemotion</a>
          </div>
          <div class="columns">
            <a href="{{ site.baseurl }}/">EN</a>
            <span> &middot; </span>
            <a href="{{ site.baseurl }}/es">ES</a>
          </div>
          <div class="columns">
            <a href="./code_of_conduct.html">{{ site[page.hl].codeOfConduct }}</a>
          </div>
        </div>
      </div>
      <div class="columns medium-6">
        <ul class="footer-social-container">
          <li>
            <a class="footer-social icon-mail mail" href="mailto:info@codemotion.es" title="E-mail us"></a>
          </li>
          <li>
            <a class="footer-social google icon-youtube" href="https://plus.google.com/104221251947950058832" title="Hear us"></a>
          </li>
          <li>
            <a class="footer-social facebook icon-facebook" href="https://www.facebook.com/pages/Codemotion-Madrid/505998872792272" title="Friend us"></a>
          </li>
          <li>
            <a class="footer-social twitter icon-twitter" href="https://twitter.com/codemotion_es" title="Follow us"></a>
          </li>
          <li>
            <a class="footer-social github icon-github-text" href="https://github.com/ccoloma/web-codemotion-2015" title="This website is open source"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="level2 text-center">
    <span>{{ site[page.hl].developedBy }}</span>
    <a href="http://www.extrema-sistemas.com" class="extrema">Extrema Sistemas</a>
  </div>
</footer>