<!-- Begin Location Section -->
<section id="location-map" class="location-map row">
    <div class="columns">
        <h2>{{ site[page.hl].locationBlockTitle }}</h2>
        <p>{{ site[page.hl].parkingAvailability }}</p>
        <ul>
            <li><span class="icon-train"></span> <b>Metro ligero</b>: {{ site[page.hl].metroLigero }}</li>
            <li><span class="icon-bus"></span> <b>Bus</b>: 571, 573, 574</li>
        </ul>
        <p>{{ site[page.hl].checkGPS }}</p>
    </div>
    <div class="columns">
        <div class="location-description">
            <ul class="unstyled">
                <li><a href="http://www.uspceu.com/" target="_blank"><img src="/img/sponsors/ceu.png" alt="Universidad San Pablo CEU" style="max-height: 60px;"></a></li>
                <li>{{ site.universityName}}</li>
                <li>{{ site.streetAddress }}</li>
                <li>{{ site.addressLocality }}</li>
                <li><a class="button radius small uppercase" target="_blank" href="https://goo.gl/maps/X5eoF">{{ site[page.hl].viewOnGoogleMaps }}</a></li>
            </ul>
        </div>
        <div id="canvas-map" class="canvas-map"></div>
    </div>
</section>
<!-- End Location Section -->