<div class="header-background">
  <header class="row top-header">
    <div class="columns">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{ site.baseurl }}/" class="top-logo logo logo-light">Codemotion</a></h1>
        </li>
        <li class="right menu">
          <a class="hide-for-medium-up"><span class="icon-menu"></span></a>
          <ul class="inline-list show-for-medium-up menu-large">{% include menu.html %}</ul>
        </li>
      </ul>
      <section class="top-bar-section hide-for-medium-up">
        <ul class="f-dropdown f-open-dropdown right">
          {% include menu.html %}
        </ul>
      </section>
    </div>
  </header>
</div>