// Colors
$top-section-color: #fff;
$black: #333;
$gray-dark: #6B6969;

$footer1-bg-color: $gray-dark;
$footer2-bg-color: $black;

// Sizes
$section-padding-top: 65px;
$logo-height: 45px;
$location-map-height: 700px;

@import "web-fonts";
@import "vendor/foundation/settings";
