.top-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  padding-top: 15px;

  &.small {
    background-color: $black;
    padding-top: 10px;
    height: auto;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    z-index: 99;
    .top-bar-section {
      position: absolute;
      width: 100%;
      top: 60px;
      right: 0px;
      .f-dropdown {
        position: absolute;
        top: 0;
      }
    }
  }

  h1 {
    color: $top-section-color;
  }

  a {
    color: $top-section-color;
    font-size: 16px;
  }

  p {
    font-size: 30px;
  }

  &.after-scroll {
    padding-top: 0;
    .top-header {
      transition-property: all;
      transition-duration: .2s;
      padding: 10px 0 10px;
    }
    .header-background {
      width: 100%;
      position: fixed;
      background: #fff;
      background: rgba(255,255,255,.9);
      height: 80px;
      z-index: 999;
      transition-property: all;
      transition-duration: .2s;
    }
    .menu a {
      color: $black;
      transition: all .2s;
      &:hover {
        color: #fff;
        background-color: $black;
        background-color: rgba($black,.7);
        border-radius: 3px;
      }
    }
  }

  ul {
    margin-bottom: 0;
  }

  .top-logo {
    text-indent: -1000px;
    float: left;
    width: 50px;
    margin-top: 2px;
  }

  .icon-menu {
    text-transform: uppercase;
    font-size: 30px;
    &:before {
      margin: .2em .3em;
    }
  }

  .arrow {
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: rgb(17, 17, 17);
    background-color: rgba(17, 17, 17, 0.7);
    &:before {
      margin: 0;
    }
  }
}

.title-area {
  @extend .inline-list;
  width: 100%;
  margin-left: 0;
  display: inline;

}

.menu-large {
  li {
    margin-left: 0;
  }
  a {
    padding: 10px 15px;
    color: #fff;
    transition: all .2s;
    &:hover {
      color: $black;
      background-color: $top-section-color;
      background-color: rgba($top-section-color, .7);
      border-radius: 3px;
    }
  }
}

.top-section-title {
  color: $top-section-color;
  position: absolute;
  top: 35%;
  a {
    font-size: 15px;
  }
}

.logo {
  height: $logo-height;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-light {
  background-image: url('/img/l_white.png');
}

.logo-dark {
  background-image: url('/img/l_black.png');
}

.explore {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
}

.f-dropdown {
  right: 20px;
  display: none;
  left: auto;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 170px;
  &.open {
    display: block;
  }
  li {
    padding: 0 10px;
  }
}

@media #{$medium-up} {
  .menu-icon {
    display: none;
  }
}
@media #{$large-up} {
  .top-section {
    .top-logo {
      width: 299px;
    }
  }
  .title-area {
  }
  .logo-light {
    background-image: url('/img/logo_white.png');
  }
  .logo-dark {
    background-image: url('/img/logo_black.png');
  }

}