---
layout: default
permalink: /es/code_of_conduct.html
hl: es
---
<section class="top-section small">
  {% include navigation.html %}
</section>

<section>
  <div class="row">
    <div class="medium-6 columns">    
      <p>&nbsp;</p>  
      <h2>{{ site[page.hl].cocHeadingTitle }}</h2>
      <p>{{ site[page.hl].cocHeading }}</p>
    </div>
    <div class="medium-6 columns show-for-medium-up">
      <div class="brace"></div>
    </div>
  </div>
  <div class="row">       
    <div class="medium-6 columns">      
      <h2>{{ site[page.hl].cocHelpTitle }}</h2>
      <p>{{ site[page.hl].cocHelp }}</p>
    </div>
    <div class="medium-6 columns show-for-medium-up">
      <div class="brace"></div>
    </div>
  </div>
  <div class="row">    
    <div class="medium-6 columns">      
      <h2>{{ site[page.hl].cocQuickTitle }}</h2>
      <p>{{ site[page.hl].cocQuick }}</p>
    </div>
    <div class="medium-6 columns show-for-medium-up">
      <div class="brace"></div>
    </div>
  </div>
  <div class="row">    
    <div class="medium-6 columns">      
      <h2>{{ site[page.hl].cocMainTitle }}</h2>
      <p>{{ site[page.hl].cocMain }}</p>
    </div>
    <div class="medium-6 columns show-for-medium-up">
      <div class="brace"></div>
    </div>    
  </div>
  <div class="row">    
    <div class="medium-6 columns">     
      <p><small><em>{{ site[page.hl].cocCredits }}</em></small></p>
    </div>
  </div>
</section>

{% include footer.html %}